* {
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #f3f5f7;
}

/* 1.头部 */
.header {
    height: 42px;
    /* 会覆盖w */
    margin: 30px auto;
}

/* logo */
.logo {
    /* logo必须浮动 不然后面的没法浮动 一浮全浮 */
    float: left;
    width: 198px;
    height: 42px;
}

.img1 {
    width: 100%;
    height: 100%;
}

/* 导航栏 */
.nav {
    float: left;
    margin-left: 57.5px;
}

.nav li {
    /* display: inline; 不常用  用float更好*/
    float: left;
    margin: 0 12.5px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

/* 搜索 */
.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 72.5px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    font-size: 14px;
    color: #bfbfbf;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background: url(../images/btn.png);
}

/* 用户 */
.user {
    float: right;
    text-align: center;
    width: 150px;
    height: 42px;
    margin-right: 30px;
}

.user span {
    line-height: 42px;
    font-size: 14px;
    color: #666;
}


/* 2.banner */
.banner {
    height: 420px;
    background-color: #252c41;
}

.banner .w {
    height: 420px;
    background: url(../images/3.png) no-repeat center top;
}

/* subnav */
.banner .subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}


.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #ffffff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00b4ff;
}

/* course */
.course {
    /* 浮动的盒子不会有外边距的问题 */
    margin-top: 50px;
    float: right;
    width: 230px;
    height: 300px;
    background-color: #ffffff;
}

.course h3 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.course .body {
    padding: 0 20px;
}

.course ul li {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.course ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.course ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.course .more {
    display: block;
    height: 38px;
    border: 1px solid #aad8ff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 700;
    margin-top: 5px;
}

/* 3.精品推荐模块 */
.good {
    height: 65px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    /* 行高继承 */
    line-height: 60px;
}


.good h3 {
    float: left;
    margin-left: 35px;
    font-size: 16px;
    color: #00a4ff;
}

.good ul {
    float: left;
    margin-left: 30px;
}

.good ul li {
    float: left;
}

.good ul li a {
    padding: 0 40px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #bfbfbf;
}

.good .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

/* 4.box核心区域 */
.box {
    margin-top: 30px;
}

.box .boxhd {
    height: 45px;
}

.box .boxhd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .boxhd a {
    float: right;
    margin-right: 40px;
    font-size: 12px;
    color: #494949;
}

.box .boxbd ul {
    width: 1225px;
}

.box .boxbd li {
    position: relative;
    float: left;
    margin-right: 15px;
    margin-top: 14px;
    width: 228px;
    height: 270px;
}

.box .boxbd li img {
    width: 100%;
}


.box .boxbd .img3 {
    height: 152px;
}

.box .boxbd li .absolute img {
    position: absolute;
    top: 5px;
    right: -2px;
    width: 52px;
}

.boxbd li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.boxbd li .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}

.boxbd li .info span {
    margin-right: 10px;
    color: #ff7c2d;
}


/* 5.footer */
.footer {
    height: 420px;
    background-color: #fff;
}

.footer .w {
    padding-top: 35px;
}

.footer .left {
    float: left;
}

.footer .left .hezi {
    width: 198px;
    height: 42px;
}

.footer .left .hezi .img2 {
    width: 100%;
    height: 100%;
}

.footer .left p {
    font-size: 12px;
    color: #666666;
    margin: 20px 0 15px 0;
}

.footer .app {
    width: 119px;
    height: 36px;
    border: 1px solid #00a4ff;
}

.footer .app a {
    display: block;
    text-align: center;
    line-height: 36px;
    height: 36px;
    font-size: 16px;
    color: #00a4ff;
}


.footer .right {
    float: right;
}


.footer .right dl {
    float: right;
    margin-left: 100px;
}

.footer .right dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.footer .right dl a {
    font-size: 12px;
    color: #333;
}


.footer .right dl a:hover {
    text-decoration: underline;
    color: #00a4ff;
}