<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>电影推荐网站 - Data</h1>
    <table>
        <thead>
            <tr>
                <th>推荐电影名称</th>
                <th>推荐指数</th>
            </tr>
        </thead>
        <tbody id="movieList">
        </tbody>
    </table>
    <a href="/">回到原界面</a>
</body>
<script src="../static/js/jquery-2.2.1.min.js"></script>

<script type="text/javascript" src="../static/main/getMovie.js"></script>
</html>