<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推荐电影</title>
    <link rel="stylesheet" href="../static/css/data.css">
</head>
<body>
    <p>当前的用户id是： </p>
    <p id="uid"></p>
    <div class="from">
        <form action="/data/uploadRating" method="post" id="rating">
            <input type="text" name="movieId" placeholder="请输入你想要评价的电影id" required>
            <input type="text" name="rating" placeholder="请输入你的评分" required>
            <button type="submit"></button>
        </form>
    </div>
    <div class="commend">
        <h1>给用户</h1>
        <h1 id="uid1"></h1>
        <h1>推荐的电影：</h1>
    </div>
    <table>
        <thead>
        <tr>
            <th>推荐电影名称</th>
            <th>推荐指数</th>
        </tr>
        </thead>
        <tbody id="movieList">
        </tbody>
    </table>
    <div class="back">
        <a href="/">回到原界面</a>
    </div>
</body>
<script src="../static/js/jquery-2.2.1.min.js"></script>

<script type="text/javascript" src="../static/main/getMovie.js"></script>
</html>