<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电影推荐首页</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!-- 1.header -->
    <div class="header w">
        <!-- logo -->
        <div class="logo">
            <img src="../static/images/logo10.png" alt="logo2" class="img1">
        </div>
        <!-- 导航栏 -->
        <div class="nav">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">经典</a></li>
                <li><a href="/first_page">电影推荐</a></li>
            </ul>
        </div>
        <!-- 搜索模块 -->
        <div class="search">
            <input type="text" value="输入关键词">
            <button></button>
        </div>
        <!-- 用户模块 -->
        <div class="user">
            <img src="../static/images/user.png" alt="用户头像">
            <span>耗子尾汁MBG</span>
        </div>
    </div>
    <!-- 2.banner -->
    <div class="banner">
        <div class="w">
            <div class="subnav">
                <ul>
                    <li><a href="#">爱情 <span>&gt;</span> </a></li>
                    <li><a href="#">喜剧 <span>&gt;</span> </a></li>
                    <li><a href="#">动作 <span>&gt;</span> </a></li>
                    <li><a href="#">科幻 <span>&gt;</span> </a></li>
                    <li><a href="#">恐怖 <span>&gt;</span> </a></li>
                    <li><a href="#">动画 <span>&gt;</span> </a></li>
                    <li><a href="#">武侠 <span>&gt;</span> </a></li>
                    <li><a href="#">歌舞 <span>&gt;</span> </a></li>
                    <li><a href="#">战争 <span>&gt;</span> </a></li>
                </ul>
            </div>
            <div class="course">
                <h3>我的最爱</h3>
                <div class="body">
                    <ul>
                        <li>
                            <h4>我的1919</h4>
                            <p>看顾维钧在巴黎和会力辩列强</p>
                        </li>
                        <li>
                            <h4>无间道</h4>
                            <p>看刘德华梁朝伟影帝对决</p>
                        </li>
                        <li>
                            <h4>肖申克的救赎</h4>
                            <p>强者救赎自己，圣人普度他人</p>
                        </li>
                    </ul>
                    <a href="#" class="more">全部内容</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 3.精品推荐模块 -->
    <div class="good w">
        <h3>中国大陆</h3>
        <ul>
            <li><a href="#">欧美</a></li>
            <li><a href="#">香港</a></li>
            <li><a href="#">日本</a></li>
            <li><a href="#">韩国</a></li>
            <li><a href="#">印度</a></li>
            <li><a href="#">奥斯卡</a></li>
        </ul>
        <a href="#" class="mod">修改兴趣</a>
    </div>
    <!-- 4.box核心区域 -->
    <div class="box w">
        <div class="boxhd">
            <h3>精品推荐</h3>
            <a href="#">查看全部</a>
        </div>
        <div class="boxbd">
            <ul class="clearfix">
                <li>
                    <img src="../static/images/肖申克的救赎.png" alt="php" class="img3">
                    <h4>《肖申克的救赎》</h4>
                    <div class="info">
                        <span>经典</span> • 希望让人自由
                    </div>
                    <div class="absolute"><img src="../static/images/hot.png" alt="hot"></div>
                </li>
                <li>
                    <img src="../static/images/霸王别姬.png" alt="php" class="img3">
                    <h4>《霸王别姬》</h4>
                    <div class="info">
                        <span>经典</span> • 风华绝代 不疯魔 不成活
                    </div>
                    <div class="absolute"><img src="../static/images/hot.png" alt="hot"></div>
                </li>
                <li>
                    <img src="../static/images/阿甘正传.png" alt="php" class="img3">
                    <h4>《阿甘正传》</h4>
                    <div class="info">
                        <span>佳作</span> • 一部美国近现代史
                    </div>
                </li>
                <li>
                    <img src="../static/images/大话西游.png" alt="php" class="img3">
                    <h4>《大话西游》</h4>
                    <div class="info">
                        <span>经典</span> • 一生所爱
                    </div>
                    <div class="absolute"><img src="../static/images/hot.png" alt="hot"></div>
                </li>
                <li>
                    <img src="../static/images/泰坦尼克号.png" alt="php" class="img3">
                    <h4>《泰坦尼克号》</h4>
                    <div class="info">
                        <span>高分</span> • You Jump I Jump
                    </div>
                </li>
                <li>
                    <img src="../static/images/千与千寻.png" alt="php" class="img3">
                    <h4>《千与千寻》</h4>
                    <div class="info">
                        <span>高分</span> •最好的宫崎骏
                    </div>
                </li>
                <li>
                    <img src="../static/images/无间道.png" alt="php" class="img3">
                    <h4>《无间道》</h4>
                    <div class="info">
                        <span>经典</span> • 香港电影史上的杰作
                    </div>
                </li>
                <li>
                    <img src="../static/images/教父.png" alt="php" class="img3">
                    <h4>《教父》</h4>
                    <div class="info">
                        <span>经典</span> • 千万不要记恨你的对手
                    </div>
                </li>
                <li>
                    <img src="../static/images/怦然心动.png" alt="php" class="img3">
                    <h4>《怦然心动》</h4>
                    <div class="info">
                        <span>佳作</span> • 真正的幸福是来自内心
                    </div>
                </li>
                <li>
                    <img src="../static/images/末代皇帝.png" alt="php" class="img3">
                    <h4>《末代皇帝》</h4>
                    <div class="info">
                        <span>高分</span> •皇上是世上最寂寞的孩子
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 5.footer -->
    <div class="footer">
        <div class="w">
            <div class="left">
                <div class="hezi"><img src="../static/images/logo10.png" alt="" class="img2"></div>
                <p> 西影网致力于普及世界最好的电影,提供符合你兴趣的好电影，让你免去选择的烦恼。<br>
                    © 2020年XTCG Inc.保留所有权利。-渝ICP备520520520号</p>
                <div class="app">
                    <a href="#">下载APP</a>
                </div>
            </div>
            <div class="right">
                <dl>
                    <dh>关于西影网</dh>
                    <dt><a href="#">关于</a></dt>
                    <dt><a href="#">团队</a></dt>
                    <dt><a href="#">工作机会</a></dt>
                    <dt><a href="#">客服服务</a></dt>
                    <dt><a href="#">需求帮助</a></dt>
                </dl>
                <dl>
                    <dh>关于西影网</dh>
                    <dt><a href="#">关于</a></dt>
                    <dt><a href="#">团队</a></dt>
                    <dt><a href="#">工作机会</a></dt>
                    <dt><a href="#">客服服务</a></dt>
                    <dt><a href="#">需求帮助</a></dt>
                </dl>
                <dl>
                    <dh>关于西影网</dh>
                    <dt><a href="#">关于</a></dt>
                    <dt><a href="#">团队</a></dt>
                    <dt><a href="#">工作机会</a></dt>
                    <dt><a href="#">客服服务</a></dt>
                    <dt><a href="#">需求帮助</a></dt>
                </dl>
            </div>
        </div>
    </div>
</body>

</html>