<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电影推荐首页</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="commend">
        <h1>电影推荐系统</h1>
    </div>
    <!-- 搜索模块 -->
    <div class="search">
        <form action="/data" method="post" id="userId">
            <input type="text" name="id" placeholder="请输入你想要获得推荐的用户id" required>
            <button type="submit"></button>
        </form>
    </div>
</body>

</html>